* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #36454F;
    color: #ffffff;
}

.mainHeading{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background-color: #010B13;
    padding: 1rem;
    margin-bottom: 1rem;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.choiceBtn {
    background-color: #36454F;
    border: none;
    cursor: pointer;
}

.imgText {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
}


.resultDisplay {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #ffffff;
    color: #010B13;
    margin: 3rem;
    padding: 0.5rem 3rem;
    border-radius: 3rem;
}
